html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
  background: #f0db51;
  color: #31322f;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  max-width: 1024px;
  padding: 0 16px;
  position: relative;
  margin: 32px auto 64px;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 24px 0;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  background: #f0db51;
}

.title {
  margin: 0;
  padding: 0;
}

.description {
  display: flex;
  align-items: center;
  gap: 12px;
}

.git {
  cursor: pointer;
  text-decoration: none;
  color: #31322f;
}

.project {
  padding: 20px;
  border: 1px dashed;
  background-color: #fcf8dc;
  cursor: pointer;
  text-decoration: none;
  color: #31322f;
  display: flex;
  flex-direction: column;
  transition: all ease 0.3s;
}

.project:hover {
  background-color: #31322f;
  color: #f0db51;
}

.project p {
  opacity: 80%;
  margin: 8px 0 0 0;
}

.project:hover p {
  color: #fff;
}

.tag-list {
  display: flex;
  flex-direction: row;
  gap: 12px;
  padding-top: 4px;
}

.tag {
  padding: 2px 0px;
  font-size: small;
}

.project-list {
  display: grid;
  gap: 16px;
  grid-template-columns: 1fr;
}

@media (min-width: 767px) {
  .project-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (min-width: 1024px) {
  .project-list {
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
