html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  font-size: 16px;
}

.main {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  margin: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  min-width: 400px;
  height: 80%;
  padding: 8px;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.renderer {
  margin: 8px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  border: 1px dashed #aaa;
  width: 600px;
  height: 600px;
}

.operate-panel {
  display: flex;
  flex-direction: column;
}

.operate {
  display: flex;
  align-items: center;
  margin: 8px;
}

.operate .label {
  width: 120px;
  text-align: left;
}

p {
  z-index: 99;
  width: 100%;
  text-align: center;
}
